/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* variables for color and font stacks */
html {
  font-size: 62.5%;
}
.container {
  width: 880px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .container {
    width: 500px;
  }
}
.container h2 {
  font-size: 2rem;
}
.container h3 {
  font-size: 1.8rem;
}
.container header {
  text-align: center;
  font-size: 2.4rem;
  margin-top: 5px;
}
@media (max-width: 500px) {
  .container header {
    width: 80%;
  }
}
.container header nav {
  display: flex;
  margin: 5px 5px;
  padding: 10px 10px;
  flex-direction: row;
  justify-content: flex-end;
}
.container header nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #969ca5;
  font-size: 1.8rem;
}
.container header nav a:hover {
  color: #2E333E;
}
.container .top-content {
  display: flex;
  background-color: #DCDEE2;
}
@media (max-width: 500px) {
  .container .top-content {
    width: 90%;
  }
}
.container .top-content .intro {
  margin-top: 5px;
  padding: 5px 5px;
}
@media (max-width: 500px) {
  .container .top-content .intro {
    width: 500px;
  }
}
.container .top-content .intro .top-image {
  max-width: 40%;
  height: auto;
}
.container .top-content .intro .text-features1 {
  border-bottom: thin #2E333E;
  border-style: ridge;
  padding: 10px 0px 10px;
}
.container .top-content .intro .text-features1 h2 {
  font-size: 3.4rem;
  padding-top: 5px;
}
.container .top-content .intro .text-features1 h3 {
  padding: 5px 5px;
}
.container .top-content .intro .text-features2 {
  padding: 10px 0px 10px;
  line-height: 20px;
}
@media (max-width: 500px) {
  .container .top-content .intro .text-features2 {
    width: 60%;
  }
}
.container .top-content .intro .text-features2 button {
  font-size: 1.8rem;
  color: white;
  background-color: #2E333E;
  border-radius: 5px;
  padding: 5px 5px;
}
.container .top-content .intro .text-features2 button:hover {
  background-color: #969ca5;
}
.container .top-content .intro .text-features2 p {
  padding-bottom: 5px;
}
.container .main-content {
  display: flex;
  margin: 5px 5px;
  padding: 5px 10px;
}
@media (max-width: 500px) {
  .container .main-content {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .container .main-content .left-pitch {
    width: 50%;
    line-height: 5rem;
  }
}
.container .main-content .left-pitch h2 {
  padding-bottom: 3px;
}
.container .main-content .left-pitch p {
  line-height: 19px;
}
.container .main-content .right-skills {
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 500px) {
  .container .main-content .right-skills {
    width: 70%;
  }
}
.container .main-content .right-skills h2 {
  padding-bottom: 3px;
}
@media (max-width: 500px) {
  .container .main-content .right-skills h2 {
    padding: 1.5rem;
  }
}
.container .main-content .right-skills .rows {
  padding: 0px 5px;
}
.container .main-content .right-skills .rows .row1 {
  border: solid #DCDEE2;
  font-size: 1.5rem;
  padding: 5px 5px;
}
@media (max-width: 500px) {
  .container .main-content .right-skills .rows .row1 {
    padding: 3rem;
  }
}
.container .main-content .right-skills .rows .row2 {
  border: solid #DCDEE2;
  border-top: 0;
  font-size: 1.5rem;
  padding: 5px 5px;
}
@media (max-width: 500px) {
  .container .main-content .right-skills .rows .row2 {
    padding: 3rem;
  }
}
.container .main-content .right-skills .rows .row3 {
  border: solid #DCDEE2;
  border-top: 0;
  font-size: 1.5rem;
  padding: 5px 5px;
}
@media (max-width: 500px) {
  .container .main-content .right-skills .rows .row3 {
    padding: 3rem;
  }
}
.container .main-content .right-skills .rows .row4 {
  border: solid #DCDEE2;
  border-top: 0;
  font-size: 1.5rem;
  padding: 5px 5px;
}
@media (max-width: 500px) {
  .container .main-content .right-skills .rows .row4 {
    padding: 3rem;
  }
}
.container .main-content .right-skills .rows .row5 {
  border: solid #DCDEE2;
  border-top: 0;
  font-size: 1.5rem;
  padding: 5px 5px;
}
@media (max-width: 500px) {
  .container .main-content .right-skills .rows .row5 {
    padding: 3rem;
  }
}
.container .work-history {
  display: flex;
  margin: 5px 5px;
  padding: 5px 10px;
  flex-direction: column;
  line-height: 19px;
}
@media (max-width: 500px) {
  .container .work-history {
    width: 75%;
  }
}
.container .work-history h2 {
  padding-bottom: 3px;
}
.container .work-history tr {
  border: solid #DCDEE2;
  font-size: 1.5rem;
  padding: 5px 5px;
}
@media (max-width: 500px) {
  .container .work-history tr {
    padding: 3rem 3rem;
  }
}
.container .work-history tr th {
  padding: 5px 5px;
}
.container .work-history tr td {
  padding: 5px 5px;
}
.container .contact-section {
  display: flex;
  margin: 5px 5px;
  padding: 5px 10px;
  flex-direction: column;
}
.container .contact-section h3 {
  padding-bottom: 3px;
}
.container .contact-section .phone {
  padding-top: 7px;
}
.container .contact-section .email {
  padding-top: 5px;
}
.container footer {
  text-align: center;
  background-color: #2E333E;
  padding: 5px 5px;
  color: white;
}
@media (max-width: 500px) {
  .container footer {
    width: 80%;
  }
}
